[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
shell = 'python -m src.shell'
test = 'python -m pytest tests'
lint = 'python -m pylint --errors-only src tests'

[dev-packages]

[packages]
pytest = "*"
pylint = "*"
pyqt5 = "==5.9.2"

[requires]
python_version = "3"
